body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #c7c0ae;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.sun {
	width: 300px;
}

.sun-section {
	background: transparent url("../img/mars-pano.jpg") no-repeat center top;
	background-size: cover;
}

.dipper {
	width: 300px;
	opacity: 0;
}

.js-dipper-fade {
/* Don't forget to put in all the prefixes!!! */
-webkit-animation: dipper-fade 1s linear forwards;
/* animation-fill-mode: forwards;
Tells the animation to stay at its last keyframe and not reset */
}

/* Don't forget to put in all the prefixes!!! */
@-webkit-keyframes dipper-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.shuttle-section {
	background-color: #ffa500;
}

.shuttle {
	width: 300px;
	opacity: 0;
	position: relative;
}

.js-shuttle-fade {
	-webkit-animation: shuttle-fade 1s linear forwards;
}

@-webkit-keyframes shuttle-fade {
	0% {
		opacity: 0;
		top: 10em;
	}

	100% {
		opacity: 1;
		top: 0em;
	}
}

.ship-section {
	background: transparent url("../img/kasei-valles-canyons.jpg") no-repeat center top;
	background-size: cover;
	text-align: center;
}

.ship, .ship1, .ship2, .ship3, .ship4 {
	display: inline-block;
	width: 200px;
	opacity: 0;
	position: relative;
}

.js-ship-fade-1 {
	-webkit-animation: ship-fade-1 1s linear forwards;
}

@-webkit-keyframes ship-fade-1 {
	0% {
		opacity: 0;
		top: 20em;
	}

	100% {
		opacity: 1;
		top: 0em;
	}
}

.js-ship-fade-2 {
	-webkit-animation: ship-fade-2 2s linear forwards;
}

@-webkit-keyframes ship-fade-2 {
	0% {
		opacity: 0;
		top: 17em;
	}
	100% {
		opacity: 1;
		top: 0em;
	}
}


